<div class="login-container flex justify-content-center align-items-center">
  <!-- Welcome Section -->

  <!-- Sign-In Section -->
  <div class="form-section px-4 py-6 flex-auto">
    <!-- Sign In Form -->
    <div class="formGroup">
      <h2 class="text-2xl font-bold mb-4">Sign up</h2>
      <form [formGroup]="registerForm" (ngSubmit)="Register()">
        <div class="form-container">
          <!-- Name Fields -->
          <div class="form-field">
            <input
              formControlName="username"
              id="username"
              type="text"
              placeholder="User Name"
              class="input-field"
              autofocus
              pInputText
            />
          </div>
          <div class="form-field">
            <input
              formControlName="firstName"
              id="firstName"
              type="text"
              placeholder="First Name"
              class="input-field"
              pInputText
            />
          </div>

          <div class="form-field">
            <input
              formControlName="lastName"
              id="lastName"
              type="text"
              placeholder="Last Name"
              class="input-field"
              pInputText
            />
          </div>

          <!-- Email Field -->
          <div class="form-field">
            <input
              formControlName="email"
              id="email"
              type="email"
              placeholder="Email Address"
              class="input-field password"
              pInputText
            />
          </div>

          <!-- Password Fields -->
          <div class="form-field password-field">
            <input
              formControlName="password"
              id="password"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Password"
              class="input-field password"
              pInputText
            />
            <i
              [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
              class="password-toggle"
              (click)="togglePasswordVisibility()"
            ></i>
          </div>
          <!-- rePassword Fields -->
          <div class="form-field password-field">
            <input
              formControlName="rePassword"
              id="rePassword"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Confirm Password"
              class="input-field password"
              pInputText
            />
            <i
              [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
              class="password-toggle"
              (click)="togglePasswordVisibility()"
            ></i>
          </div>
          <!-- Phone -->
          <div class="form-field">
            <input
              formControlName="phone"
              id="phone"
              type="text"
              placeholder="Phone"
              class="input-field"
              pInputText
            />
          </div>
          <!-- Forgot Password Link -->
          <div class="form-footer text-center">
            <h5>
              Already have an account?
              <a routerLink="/welcome/login" class="forgot-password">Login</a>
            </h5>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="submit-btn m-5">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>